mat-sidenav-content {
    margin-left: 0 !important;
    flex: 1 1 auto;
}
mat-sidenav {
    flex: 0 1 auto;
}
.filler {
    flex: 1 1 auto;
 }
 .gap {
    margin-right: 10px;
 }
 .tp-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*background: #eee;*/
 }
 .tp-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    width:100px;   
 }
 .mat-drawer-container{
 background-color: white;
 color: rgba(0,0,0,.87);
 }